:root {
	--accent: oklch(60% 0.1 240);
	--accent-muted: oklch(80% 0.06 240 / 0.67);
	--dark: oklch(20% 0.05 240);
	--border: oklch(80% 0.02 240);
	--text: oklch(0 0 0 / 0.9);
	--text-muted: oklch(0 0 0 / 0.75);
	--bg-main: oklch(95% 0 0);
	--bg-light: oklch(100% 0 0);

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins';
	background-color: var(--bg-main);
	line-height: 1.5;
	color: var(--text);
}

section,
footer {
	padding: 4rem max(5vw, calc(100vw - 1500px));
	display: flex;
	flex-direction: column;
}

footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* h1,
h2,
h3 {
	--margin: 1em;
	margin-top: var(--margin);
	margin-bottom: calc(var(--margin) / 2);
} */

h1 {
	font-size: 4rem;
	line-height: 1.1;
	font-weight: 600;
	color: var(--text);
}
h2 {
	font-size: 2.25rem;
	line-height: 1.1;
	font-weight: 600;
	color: var(--text);
	text-align: center;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 600;
	color: var(--text);
}
p {
	font-size: 1rem;
	color: var(--text-muted);
}

ul,
ol {
	list-style: none;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& > li {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		& > div:has(svg) {
			background-color: var(--accent-muted);
			display: grid;
			place-items: center;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 0.25rem;
			position: relative;
			flex-shrink: 0;

			& > svg {
				position: absolute;
			}
		}
	}
}

ol {
	counter-reset: ol-counter;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& > li {
		counter-increment: ol-counter;
		display: flex;
		gap: 0.5rem;

		&::before {
			content: counter(ol-counter) '.';
			font-weight: 500;
			font-size: 0.875rem;

			background-color: var(--accent-muted);
			display: grid;
			place-items: center;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 0.25rem;
			flex-shrink: 0;
		}
	}
}

img {
	max-width: min(64rem, 100%);
}
